.map {
    width: 100%;
    height: 400px;
}

.btn {
    text-align: center;
    width: auto;
    padding: 2px 0;
    background-color: cyan;
}

.popup {
    display: flex;
    flex-direction: column;
    width: auto;
    row-gap: 5px;
}